<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:app="http://schemas.android.com/apk/res-auto" xmlns:aapt="http://schemas.android.com/aapt" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="29" android:compileSdkVersionCodename="10" package="com.balajirajan.baskaraastrology" platformBuildVersionCode="29" platformBuildVersionName="10">
    <uses-sdk android:minSdkVersion="22" android:targetSdkVersion="29"/>
    <application android:theme="@style/NoActionBar" android:label="@string/app_name" android:icon="@mipmap/ic_launcher_baskaran" android:debuggable="true" android:allowBackup="true" android:supportsRtl="true" android:roundIcon="@mipmap/ic_launcher_round" android:appComponentFactory="androidx.core.app.CoreComponentFactory">
        <activity android:name="com.balajirajan.baskaraastrology.Activity_Numerology"/>
        <activity android:name="com.balajirajan.baskaraastrology.Flash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.balajirajan.baskaraastrology.menu" android:screenOrientation="portrait"/>
        <activity android:name="com.balajirajan.baskaraastrology.Main_details_tab" android:screenOrientation="portrait"/>
        <activity android:name="com.balajirajan.baskaraastrology.help" android:screenOrientation="portrait"/>
        <activity android:name="com.balajirajan.baskaraastrology.Main_input" android:screenOrientation="portrait"/>
        <activity android:name="com.balajirajan.baskaraastrology.Main_input_h" android:screenOrientation="portrait"/>
        <activity android:name="com.balajirajan.baskaraastrology.Settings" android:screenOrientation="portrait"/>
        <activity android:name="com.balajirajan.baskaraastrology.Placedetails_activity" android:screenOrientation="portrait"/>
        <activity android:name="com.balajirajan.baskaraastrology.ClientList" android:screenOrientation="portrait"/>
        <activity android:name="com.balajirajan.baskaraastrology.Client_hora" android:screenOrientation="portrait"/>
    </application>
</manifest>
